doctype html
html
	head
		title 首页
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(rel="stylesheet",href="/materialize/css/materialize.css")
	body
		.indexWrapper
			nav.top-nav
				.nav-wrapper.container
					a.page-title
						span 首页
						if from
							span - 欢迎来自!{from}的朋友
			.container
				.row.section
					.col.s6
						h4 文章列表
						ul.section
							each post in posts
								li
									a(href="/post/"+post.id) #{post.title}
					.col.s6
						h4 评论列表
						ul.section
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
		script(src="/jspm_packages/system.js")
		script(src="/config.js")
		script.
			var from = "!{from}";
			//- System.import('scripts/login');
