doctype html
html
	head
		title 首页
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(rel="stylesheet",href="/materialize/css/materialize.css")
	body
		.indexWrapper
			nav.top-nav
				.nav-wrapper.container
					a.page-title 首页
			.container
				.row.section
					.col.s6
						h4 第一列表
						ul.section
							li
								a(href="#") 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测
							li
								a(href="#") 测试测试测试测试测试测试测试测试测测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试测试测试测试测试测试测试测
					.col.s6
						h4 第二列表
						ul.section
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
							li
								a(href="#") 测试测试测试测试测试测试测试测试
		script(src="/jspm_packages/system.js")
		script(src="/config.js")
		script.
			System.import('scripts/login');
